body{
    background-color: #87CEFA;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment{
    display: flex;
    padding: 10px;
    margin: 10px;
    background: #AFEEEE;
    border-radius: 10px;
}

.assignment img{
    width:200px;
    margin: 10px;
    border: 4px dashed #4682B4;
    border-radius: 20px;
}

.assignment img:hover{
    border: 4px solid #F2B;

}
h1{
    color: darkorchid;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: #F2BC1B;
}